.chat-main{
  width: calc(100vw - 300px);
  float: right;
  link_to{
    text-decoration: none;
  }
  &__header{
    height: 100px;
    padding: 0 40px;
    @include flex();
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      color: #38aef0;
    }
  }
  }
