.user-menu {
          list-style: none;
          @include flex();   
          &__new-group,&__edit-user{
          margin-left: 0.3rem;
          display: list-item;
          }
          link_to, a:hover, a:visited{
            color: $white;
            text-decoration: none;
          }
        } 